body {
  font-family: sans-serif;
  font-size:   32pt;
  text-align:  center;
  padding:     4em;
}

input {
  font-family: inherit;
  font-size:   inherit;
  display:     inline;
  border:      none;
  background:  none;
}

#ratio {
  text-align: right;
  display: inline-block;
  width: 35%;
}

#fraction {
  display: inline;
  width: 35%;
}

#answer-container {
  margin-top: 1em;
}

#answer {
  display: inline;
  padding: 0.5em;
}
